html {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1, h2, h3, p, ul, ol, figure {
  margin: 0;
}

ul, ol {
  list-style: none;
  padding: 0;
}

body {
  background: #151515 url(../images/bg.png) no-repeat fixed left bottom;
  background-size: cover;
  color: #fff;
  font-family: Raleway, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  font-size: 1.4rem;
  text-align: center;
}

header {
  padding: 170px 0 80px;
}

.site-title {
  font-size: 7.6rem;
  margin: 0 0 40px;
}

.site-title-sub {
  display: block;
  font-size: 2.2rem;
  margin: 0 0 50px;
}

.site-title-sub::before,
.site-title-sub::after {
  background-color: #fff;
  content: '';
  display: inline-block;
  height: 2px;
  vertical-align: middle;
  width: 140px;
}

.site-title-sub::before {
  margin: 0 30px 0 0;
}

.site-title-sub::after {
  margin: 0 0 0 30px;
}

.site-description {
  color: #888;
  font-size: 1.6rem;
  margin: 0 0 60px;
}

.nav-global ul {
  display: flex;
  justify-content: center;
}

.nav-global li {
  height: 60px;
  width: 200px;
}

.nav-global li:not(:last-child) {
  margin: 0 30px 0 0;
}

.nav-global a {
  color: #fff;
  border-radius: 4px;
  display: block;
  height: 100%;
  line-height: 60px;
  text-decoration: none;
}

.nav-global a:hover {
  opacity: .9;
}

.nav-global li:nth-child(1) a {
  background-color: #afa58d;
}

.nav-global li:nth-child(2) a {
  background-color: #f1b400;
}

.l-about {
  background-color: #fff;
  color: #333;
  padding: 110px 30px;
}

.section-title {
  font-size: 4rem;
  letter-spacing: 2px;
  margin: 0 0 45px;

}
