html {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: #151515 url(../images/bg.png) no-repeat fixed left bottom;
  background-size: cover;
  color: #fff;
  font-family: Raleway, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  font-size: 1.4rem;
  text-align: center;
}

header {
  padding: 170px 0 80px;
}

.site-title {
  font-size: 7.6rem;
  margin: 0 0 40px;
}

.site-title-sub {
  display: block;
  font-size: 2.2rem;
  margin: 0 0 50px;
}

.site-title-sub::before,
.site-title-sub::after {
  background-color: #fff;
  content: '';
  display: inline-block;
  height: 2px;
  vertical-align: middle;
  width: 140px;
}

.site-title-sub::before {
  margin: 0 30px 0 0;
}

.site-title-sub::after {
  margin: 0 0 0 30px;
}
