*,
*::before,
*::after {
  box-sizing: border-box;
}

.sp {
  display: none;
}

html {
  font-size: 62.5%;
  background-color: #f1eee5;
}

body {
  font-size: 1.6rem;
}

ol, ul, figure {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1, h2, p {
  margin: 0;
}

.clearfix::after {
  clear: both;
  content: "";
  display: block;
}

header,
.l-wrapper,
.pagetop,
footer {
  margin: 0 auto;
  width: 840px;
}

header {
  margin: 0 auto 20px;
  padding: 30px 0 0 ;
}

.logo {
  margin: 0 0 20px;
  text-align: center;
}

.global-nav ul{
  box-shadow: 0 4px 10px 0 #ddd;
  display: flex;
}

.global-nav ul li {
  width: 25%;
}

.global-nav ul li a:hover {
  background: #ccc;
}


.global-nav ul li a {
  background: #392915;
  border: solid 1px #fff;
  border-radius: 5px;
  color: #fff;
  display: block;
  height: 60px;
  line-height: 60px;
  text-align: center;
  text-decoration: none;
}

.l-wrapper {
  padding: 0 0 100px;
  position: relative;
}

.breadcrumb ol {
  color: #624f3b;
  display: flex;
  margin: 0 0 30px;
}

.breadcrumb ol a {
  color: #624f3b;
}

.breadcrumb ol li:not(:last-child)::after {
  content: ">";
  margin: 0 10px;
}

main {
  width: 580px;
}

main h1 {
  background-image: url(../images/bg_h1_head.png), url(../images/bg_h1_bottom.png);
  background-repeat: no-repeat, no-repeat;
  background-position: left top, left bottom;
  color: #624f3b;
  font-size: 24px;
  margin: 0 0 30px;
  padding: 36px 0 36px 66px;
}

.l-contents-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 0 100px;
  text-decoration: none;
}

.l-side-nav {
  width: 240px;
}

.side-banner a {
  color: #624f3b;
  font-size: 1.4rem;
  text-decoration: none;
}

.side-banner:not(:last-child){
  margin: 0 0 30px;
}

.pagetop {
  background: url(../images/bg_arrow.png) no-repeat left center;
  bottom: 0;
  height: 28px;
  position: absolute;
  right: 0;
  text-align: right;
  text-decoration: underline;
  width: 170px;
}

footer {
  background:url(../images/bg_footer.png) no-repeat left top;
  font-size: 1.4rem;
  padding: 20px 0 10px;
  text-align: center;
}

.footer-address{
  font-style: normal;
  margin: 0 0 6px;
}

/* ホーム　ここから　*/
.bx-wrapper {
  margin-bottom: 30px;
}

main h2 {
  background-image: url(../images/bg_h2_head.png), url(../images/bg_h2_bottom.png);
  background-repeat: no-repeat, no-repeat;
  background-position: left top, bottom;
  color: #624f3b;
  margin: 0 0 50px;
  padding: 18px 24px;
}

.topics-list li {
  border-bottom: 1px dotted;
  color: #624f3b;
  display: flex;
  margin: 0 0 40px;
  padding: 0 0 30px 0;
}

.topics-list time,
.topics-list span {
  display: block;
}

.topics-list time {
  font-weight: bold;
  width: 180px;
}

.topics-list span {
  width:400px;
}


/* コンセプト　ここから　*/

.concept-article h2 {
  margin: 0 0 16px;
}

.concept-article:nth-of-type(1) figure {
  float: right;
  margin: 0 0 0 26px;
}

.concept-article:nth-of-type(2) figure {
  float: left;
  margin: 0 26px 0 0;
}

.concept-article:not(:last-child) {
  margin: 0 0 30px;
}

.concept-article p {
  font-size: 1.4rem;
  line-height: 2rem;
}

.concept-article p:not(:last-child) {
  margin: 0 0 20px;
}

/* コンセプト　ここまで　*/
/* ホーム　ここから　*/

@media screen and (max-width: 767px) {
  header,
  .l-wrapper,
  footer{
    width: 100%;
  }

  .sp {
    display: block;
  }

  main,
  main h1,
  .l-side-nav {
    width: 100%;
  }

  .l-contents-wrapper {
    flex-wrap: wrap;
  }

  .global-nav ul {
    flex-wrap: wrap;
  }

  .global-nav ul li {
    width: 100%;
  }

  .global-nav ul li a {
    border: none;
    border-radius: 0;
  }

  .global-nav ul li:not(:last-child) {
    border-bottom: solid 1px #fff;
  }

  .side-banner {
    margin: auto;
    width: 230px;
  }
  .side-banner:not(:last-child) {
    margin: 0 auto 30px;
  }

/* index start */
.slideshow img {
  height: auto;
  width: 100%;
}

  .topics-list {
    padding: 0 4%;
  }

  .topics-list li {
    display: block;
  }

   .topics-list li time,
   .topics-list li span {
     display: block;
     width: 100%;
   }

   .topics-list li time {
     margin: 0 0 4px;
   }
/* index end */
  main {
    margin: 0 0 60px;
  }
}
